<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <OTEL_EXPORTER_OTLP_ENDPOINT>http://localhost:4318</OTEL_EXPORTER_OTLP_ENDPOINT>
      <OTEL_EXPORTER_OTLP_TRACES_PROTOCOL>http/protobuf</OTEL_EXPORTER_OTLP_TRACES_PROTOCOL>
      <OTEL_BSP_SCHEDULE_DELAY>10</OTEL_BSP_SCHEDULE_DELAY>
      <ELASTIC_OTEL_LOG_DIRECTORY></ELASTIC_OTEL_LOG_DIRECTORY>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>