---
name: docs-build

on:
  push:
    branches:
        - main
  pull_request_target: ~

jobs:
  docs-preview:
    uses: elastic/docs-builder/.github/workflows/preview-build.yml@main
    with:
      enable-vale-linting: true
      path-pattern: docs/**
    permissions:
      id-token: write
      deployments: write
      contents: read
      pull-requests: write