name: License headers

on: [ pull_request ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Check license headers
        run: |
          ./.github/check-license-headers.sh