name: release-main

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  RELEASE_PACKAGES: ".artifacts/package/release/*.nupkg"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Bootstrap Action Workspace
        id: bootstrap
        uses: ./.github/workflows/bootstrap

      - run: ./build.sh release --test-suite=skip-e2e
        name: Release

      - name: Generate build provenance
        uses: github-early-access/generate-build-provenance@main
        with:
          subject-path: "${{ github.workspace }}/${{ env.RELEASE_PACKAGES }}"

      - name: Publish canary packages github package repository
        shell: bash
        # this is a best effort to push to GHPR, we've observed it being unavailable intermittently
        continue-on-error: true
        run: |
          dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/elastic/index.json"
          dotnet nuget push '${{ env.RELEASE_PACKAGES }}' -k ${{ secrets.GITHUB_TOKEN }} --skip-duplicate --no-symbols --source "github"
          dotnet nuget remove source github
      
      # Github packages requires authentication, this is likely going away in the future so for now we publish to feedz.io
      - name: Publish canary packages to feedz.io
        run: dotnet nuget push '${{ env.RELEASE_PACKAGES }}' -k ${{ secrets.FEEDZ_IO_API_KEY }} -s https://f.feedz.io/elastic/all/nuget/index.json --skip-duplicate --no-symbols
        if: github.event_name == 'push' && startswith(github.ref, 'refs/heads')
